@use '../colors';

.btn {
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.3s;
  &--a {
    color: colors.$purple;
    background: none;
    border: none;
    &:hover {
      color: colors.$dark50;
    }
  }
  
  &--bg {
    color: #fff;
    border-radius: 22px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border: none;
    padding: 10px 20px;
    &:hover {
      opacity: 0.5;
    }
  }

  &--outline {
    color: colors.$purple;
    background: linear-gradient(#fff, #fff) padding-box,
                linear-gradient(to right, #BC9CFF 0%, #8BA4F9 100%) border-box;
    border: 2px solid transparent;
    border-radius: 22px;
    padding: 8px 18px;
    &:hover {
      opacity: 0.5;
    }
  }

  &--large {
    display: block;
    width: 100%;
    padding: 10px 20px;
    position: relative;
    & svg {
      position: absolute;
      right: 0;
      margin-right: 5%;
    }
  }
}