@use '../colors.scss';

.dropdown {
  height: 44px;
  width: 150px;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid colors.$dark25;
  padding-left: 15px;
  color: colors.$dark75;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  &-large {
    display: flex;
    width: 100%;
  }
  & img {
    margin-right: 10px;
  }
  &:hover {
    color: colors.$dark75;
    border-color: colors.$dark50;
  }
  &:focus {
    color: colors.$dark75;
    border: 1px solid colors.$dark50;
  }
  &:focus-visible {
    color: colors.$dark75;
    border: 1px solid colors.$dark50;
    outline: none;
  }
}