@use '../colors';

.input-large {
  height: 44px;
  width: 260px;
  border-radius: 4px;
  border: 1px solid colors.$dark25;
  padding: 0 15px;
  background-image: url(../../images/UI/arrow_right.svg);
  background-origin: content-box;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;

  &::placeholder {
    color: colors.$dark25;
  }
  &:hover {
    color: colors.$dark75;
    border-color: colors.$dark50;
  }
  &:focus {
    color: colors.$dark75;
    border: 1px solid colors.$dark50;
  }
  &:focus-visible {
    color: colors.$dark75;
    border: 1px solid colors.$dark50;
    outline: none;
  }
}