.card.card--absolute
  form(action="", method="get") 
    h2.card__title.h1 Найдём номера под ваши пожелания
    .va.card__select-dates
      .block
        +dropdown({label: 'прибытие', placeholder: 'ДД.ММ.ГГГГ'})
      .block
        +dropdown({label: 'выезд', placeholder: 'ДД.ММ.ГГГГ'})
    .block.card__select-guests
      +dropdown({label: 'выезд', placeholder: 'Сколько гостей', isLarge: 'yes'})
    .block
      +button('подобрать номер', 'btn--large')