footer.footer
  .container.footer__container
    div.footer__part
      div.logo
        +logo()
      p.text
        | Бронирование номеров в лучшем
        br
        | отеле 2019 года по версии
        br
        | ассоциации «Отельные взгляды»
    div.footer__part 
      h3.h3 Навигация
      ul
        li О нас
        li Новости
        li Служба поддержки
        li Услуги
    div.footer__part 
      h3.h3 О нас
      ul 
        li О сервисе
        li Наша команда
        li Вакансии
        li Инвесторы
    div.footer__part 
      h3.h3 Служба поддержки
      ul 
        li Соглашения
        li Новости
        li Сообщества
        li Связь с нами 
    div.footer__part
      h3.h3 Поддержка
      p.text
        |Получайте специальные
        br 
        |предложения и новости сервиса
      form.footer__form
        input.input-large(type="email" placeholder="Email")