header.header
  .container.header__container
    div.header__left-part.logo
      img(src=require('../images/brand/Group.svg'), alt="")
      img(src=require('../images/brand/TOXIN.svg'), alt="")
    div.header__right-part
      div.navigation
        nav.navbar
          ul.navbar__ul
            li.navbar__item.active
              a О нас
            li.navbar__item
              a Услуги
              .va
                img(src=require('../images/UI/arrow_down.svg'), alt="")
            li.navbar__item 
              a Вакансии
            li.navbar__item
              a Новости
            li.navbar__item 
              a Соглашения
              .va
                img(src=require('../images/UI/arrow_down.svg'), alt="")
      div.va
        button.btn--outline.h3 Войти
      div.va
        button.btn.h3 Зарегистрироваться