header.header
  .container.header__container
    .header__left-part.logo
      +logo()
    .header__right-part
      .navigation
        nav.navbar
          ul.navbar__ul
            li.navbar__item.active
              a О нас
            li.navbar__item
              a Услуги
              .va
                +arrowdown()
            li.navbar__item 
              a Вакансии
            li.navbar__item
              a Новости
            li.navbar__item 
              a Соглашения
              .va
               +arrowdown()
      .va
        +button('войти', 'btn--outline')
      .va
        +button('зарегистрироваться', 'btn')
