include pug/UI/_libs

doctype html
html(lang="en")
  include pug/_head
  body 
    include pug/header
    main.main.bg-img
      include pug/cardFindARoom
      p.on-bg-img.text
        |Лучшие номера для вашей работы,
        br
        |отдыха и просто вдохновения
    include pug/footer